<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Basic Page Needs
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>Nope</title>
	<meta name="None of your business" content="">
	<meta name="Nobody" content="">

	<!-- Mobile Specific Metas
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

	<!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/skeleton.css">
	<link rel="stylesheet" href="css/site.css">
	
	<script src="js/site.js"></script>

	<!-- Favicon
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="icon" type="image/png" href="images/favicon.png">

</head>
	<body>

	<!-- Primary Page Layout
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<div class="navBar" id="mainNavBar">
		<a href="/">No</a>
		{% for page in site.pages %}
    		<a href={{ page.filename }}>{{ page.title }}</a>
		{% endfor %}
		<a href="javascript:void(0);" class="icon" onClick="openDrawerMenu()">&#9776;</a>
		<!--&#9776; is the code for the 3 line menu button-->
	</div>
	<div class="container">
		<div class="row">
			<div class="one-half column" style="margin-top: 25%">
				{{ content }}
			</div>
		</div>
	</div>

	<!-- End Document
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	</body>
</html>
